<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://kit.fontawesome.com/81d8ede405.js" crossorigin="anonymous"></script>


</head>

<body>
  <!-- Top nav bar for logo and to view order -->
  <nav>
    <span id="logo">MeatHub</span>
    <span><a src="#">View Order</a></span>
  </nav>

  <!-- header has cover photo and a tagline of some sort -->
  <header class="page-header">
    <h2>Select food for pickup</h2>
  </header>

  <header class="section-heading">
    <h2>our <span>menu</span></h2>
    <div></div>
  </header>

  <main class="home">
    <section id="menu-container">
      <!--See meals.js for template literal-->
      <h2 class="food-category">Briskets</h2>
      <div class="grid-container" id="our-foods"></div>

      <h2 class="food-category">Fried Chicken</h2>
      <div class="grid-container" id="fried-chicken"></div>

      <h2 class="food-category">Sandwiches</h2>
      <div class="grid-container" id="sandwiches"></div>
    </section>


    <!--SHOPPING CART STARTS-->
    <section class="cart-container">
      <h2>Review order</h2>
      <!--labels for order items-->
      <div class="cart-row">
        <span class="cart-col-1 cart-column">ITEM</span>
        <span class="cart-col-2 cart-column">PRICE</span>
        <span class="cart-col-3 cart-column" id="qty-header">QTY</span>
      </div>
      <!--list of order items-->
      <article class="cart-items"></article>


        <!--totals-->
        <div class="cart-total">
          <strong class="cart-total-title">Total</strong>
          <span class="cart-total-price">$0.00</span>
        </div>
        <!--submit order-->
        <button class="btn btn-purchase btn-checkout" type="button">Proceed to Checkout</button>
    </section>
    <!--SHOPPING CART ENDS-->

    <!--Confirm order form starts-->
    <!--
<form id="confirmation-form" class="order-form" method="post" action="contact-form-process.php">
      <div class="form-header"><h2>Confirm Details for Pickup</h2></div>
      <div>
        <label for="Name" class="order-label">Your name</label>
        <div class="order-input-group">
          <input type="text" id="Name" name="Name" class="order-input" placeholder="Jane Smith"required>
        </div>
      </div>

      <div>
        <label for="tel" class="order-label">Your phone number</label>
        <div class="order-input-group">
          <input type="tel" id="tel" name="tel" class="order-input" placeholder="+1-555-5555" required>
        </div>
      </div>

      <div>
        <label for="Message" class="order-label">Special Instructions:</label>
        <div class="order-input-group">
          <textarea id="Message" name="Message" class="order-input" rows="6" maxlength="1000" placeholder="Allergies, dellivery instructions, etc."></textarea>
        </div>
      </div>

      <div class="order-buttons">
        <button type="button"  class="btn-purchase cancel">Cancel</button>
        <button type="submit"  class="btn-purchase confirm">Confirm Order</button>
      </div>
    </form>
    -->


  </main>

  <script src="./scripts/cart.js"></script>
  <script src="./scripts/meals.js"></script>

</body>

</html>
