<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/meals.js"></script>
  <script src="https://kit.fontawesome.com/81d8ede405.js" crossorigin="anonymous"></script>


</head>

<body>
  <!-- Top nav bar for logo and to view order -->
  <nav>
    <span id="logo">FoodHub</span>
    <span><a src="#">View Order</a></span>
  </nav>

  <!-- header has cover photo and a tagline of some sort -->
  <header class="page-header">
    <h2>Select food for pickup</h2>
  </header>

  <header class="section-heading">
    <h2>our <span>menu</span></h2>
    <div></div>
  </header>

  <main class="home">
    <section id="menu-container">
      <!--See meals.js for template literal-->
      <div class="grid-container">
        <article class="meal">
          <header>
            <img class="meal-image" src="">
            <div class="meal-name"><strong>Dish Name</strong></div>
            <div class="meal-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem provident aliquam
              laudantium eveniet consequatur laborum, dolore quae tempora soluta doloribus odit nobis necessitatibus
              repudiandae natus blanditiis sequi cumque! Nihil, laboriosam?</div>
          </header>
          <footer class="meal-footer">
            <div class="price">
              <div><strong>Price:</strong></div>
              <div>$29.99</div>
            </div>
            <button class="addtocart" value="1">
              <div><i class="fas fa-cart-plus"></i> ADD TO CART</div>
            </button>
          </footer>
        </article>

        <article class="meal">
          <header>
            <img class="meal-image" src="">
            <div class="meal-name"><strong>Dish Name</strong></div>
            <div class="meal-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem provident aliquam
              laudantium eveniet consequatur laborum, dolore quae tempora soluta doloribus odit nobis necessitatibus
              repudiandae natus blanditiis sequi cumque! Nihil, laboriosam?</div>
          </header>
          <footer class="meal-footer">
            <div class="price">
              <div><strong>Price:</strong></div>
              <div>$29.99</div>
            </div>
            <button class="addtocart" value="2">
              <div><i class="fas fa-cart-plus"></i> ADD TO CART</div>
            </button>
          </footer>
        </article>

        <article class="meal">
          <header>
            <img class="meal-image" src="">
            <div class="meal-name"><strong>Dish Name</strong></div>
            <div class="meal-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem provident aliquam
              laudantium eveniet consequatur laborum, dolore quae tempora soluta doloribus odit nobis necessitatibus
              repudiandae natus blanditiis sequi cumque! Nihil, laboriosam?</div>
          </header>
          <footer class="meal-footer">
            <div class="price">
              <div><strong>Price:</strong></div>
              <div>$29.99</div>
            </div>
            <button class="addtocart" value="3">
              <div><i class="fas fa-cart-plus"></i> ADD TO CART</div>
            </button>
          </footer>
        </article>
      </div>

    </section>


    <!--SHOPPING CART STARTS-->
    <section class="cart-container">
      <h2>Review order</h2>
      <!--labels for order items-->
      <div class="cart-row">
        <span class="cart-col-1 cart-column">ITEM</span>
        <span class="cart-col-2 cart-column">PRICE</span>
        <span class="cart-col-3 cart-column" id="qty-header">QTY</span>
      </div>
      <!--list of order items-->
      <article class="cart-items">


      <!--totals-->
      <div class="cart-total">
        <strong class="cart-total-title">Total</strong>
        <span class="cart-total-price">$19.99</span>
      </div>
      <!--submit order-->
      <button class="btn btn-primary btn-purchase" type="button">Proceed to Checkout</button>
    </section>
    <!--SHOPPING CART ENDS-->

  </main>
  <script src="./scripts/meals.js"></script>
  <script src="./scripts/cart.js"></script>

</body>

</html>
