<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- App CSS -->
  <link rel="stylesheet" href="/styles/restaurant-home.css"/>
  <link rel="stylesheet" href="/styles/main.css" />
  <!-- <link rel="stylesheet" href="/styles/layout.css" /> -->

  <!-- External JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/vendor/jquery-3.0.0.js"></script>

  <!-- App JS -->
  <script type="text/javascript" src="/scripts/restaurant-home.js"></script>


  <title>Restaurant - Home</title>
</head>
<body>
  <main>
    <section id="pending-requests-container"></section>
    <section id="current-orders-container"></section>
  </main>
</body>
</html>
