nav {
  top: 0;
  width: 100%;
  position: fixed;
  font-weight: 600;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 1%;
  height: 56px;
  z-index: 100;
  color: #fff;
}

.page-header {
  width: 100%;
  height: 33vh;
  background-color: #4b4e4c;
  font-size: 30px;
  letter-spacing: 1px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home {
  display: flex;
  margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.meal {
  padding: 8px;
  font-size: 14.5px;
  padding: 30px;
}

.meal-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addtocart {
  display: block;
  padding: 0.4rem;
  border-radius: 3px;
  border: none;
  font-size: 8px;
  position: relative;
  background: #007B3E;
  color: #fff;
  cursor: pointer;
}

.fa-cart-plus {
  background: #007B3E;
}

.meal-name {
  font-size: 17px;
}

.price {
  margin-top: 20px;
  display: flex;
}

.cart-container {
  min-width: 25vw;
  min-height: 75vh;
  color: rgb(51, 51, 51);
  font-size: 14px;
  background-color: #F7F7F7;
  border-radius: 3px;
  padding: 20px;
}

cart-column {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #7b817d;
  padding-bottom: 10px;
}

.cart-row {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.cart-col-1 {
  width: 50%;
}

.cart-col-2 {
  width: 15%;
}

.cart-col-3 {
  width: 35%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.cart-col-3-input {
  order: 2;
  height: 20px;
  width: 40px;
  border-radius: 5px;
  border: 1px solid #4b4e4c;
  background-color: #eee;
  color: #4b4e4c;
  padding: 0;
  text-align: center;
  margin-right: 10%;
}

.cart-row:last-child {
  border-bottom: 1px solid #4b4e4c;
}

.cart-row:last-child .cart-column {
  border: none;
}

.cart-total {
  text-align: end;
  margin-top: 10px;
  margin-right: 10px;
}

.cart-total-title {
  font-weight: bold;
  font-size: 1.5em;
  color: black;
  margin-right: 20px;
}

.cart-total-price {
  color: #333;
  font-size: 1.1em;
}

.btn-purchase {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 9px 20px 8px;
  margin-top: 30px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  border-style: none;
  background-color: #4b4e4c;
  color: #fff;
}

.btn-purchase:hover,
.btn-purchase:focus {
  opacity: 0.75;
}

.btn-danger {
  height: 15px;
  width: 15px;
  padding: 0;
  font-size: 50%;
  font-weight: light;
  border: none;
  color: #fff;
  cursor: pointer;
  background-color: rgba(204, 76, 76, 0.8078431373);
  border-radius: 10px;
}

.btn-danger:hover {
  background-color: #CC4C4C;
}

#qty-header {
  align-self: flex-start;
}

.cart-total-title {
  font-size: 17px;
}/*# sourceMappingURL=index.css.map */