@use 'index';
@use 'order-status';

body {
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(51,51,51);
  background-color: #fef7dd;
}

.section-heading {
  text-align: center;
  min-width: 100%;
}

.section-heading h2,
.section-heading span {
  font-size: 40px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.section-heading span {
  color: #c55336;
}

