.page-header2 {
  top: -56px;
  width: 100%;
  height: 32vh;

  background: url(/images/cover-photo.png) rgba(33, 19, 13, 0.3);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-position: center center;
  background-size: cover;

  font-size: 3rem;
  font-family: 'Bebas Neue';
  font-weight: 600;
  letter-spacing: 1px;
  color:#f2c349;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title {
  position: relative;
    color: #ffffff;
    font-size: 6rem;
    line-height: 0.9;
    text-align: center;
    
}
.content-container {
  background-color: rgb(60, 37, 37);
  width: 90vw;
  margin: 30px auto;
  border: solid black 1px;
  border-radius: 10px;
  height: 60vh;
  position: relative;
  box-shadow: 0 4px 5px 3px rgb(0 0 0 / 30%);
}

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}

.home-button {
  background-color: rgb(175, 147, 85);
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  color: white;
  font-family: 'Roboto';
  font-size: 24px;
  
}

.home-button:hover {
  background-color: darkgrey;
}
#logo {
  
  font-family: 'Special Elite';
}

.pickup-alert {
  text-align: center;
  font-size: 64px;
  color: white;
  font-family: 'Bebas Neue';
  margin-bottom: 10px;
}

.progress-bar {
  margin: auto;
  position: relative;
  width: 500px;
  height: 3em;
  background-color: #252525;
  border-radius: 1.5rem;
  color: white;
  font-family: 'Roboto';
}

.progress-bar::before {
  content: attr(data-label);
  white-space: nowrap;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0.5em;
  top: 0.5em;
  bottom: 0.5em;
  width: calc(var(--width, 0) * 1%);
  min-width: 2rem;
  max-width: calc(100% - 1em);
  background-color: rgb(175, 147, 85);
  border-radius: 1em;
  padding: 1em;
}

.blob {
  background: rgb(175, 147, 85);
  border-radius: 50%;
  margin: auto;
  height: 100px;
  width: 100px;

  box-shadow: 0 0 0 0 rgb(175, 147, 85);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}

.fa {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 48px;
}

.hidden {
  display: none;
}

.button {
  font-size: 24px;
  margin: 20px auto;
  padding: 15px;
  display: block;
  text-align: center;
  font-family: 'Roboto';
}

.review-page {
  border: solid darkgray 2px;
  width: 60vw;
  margin: auto;
  border-radius: 5px;
  padding: 0 40px;
  background-color:rgb(175, 147, 85)
}

.review-title {
  text-align: center;
  color: white;
  font-size: 36px;
}

#review {
  font-size: 24px;
}

#submit-review {
  font-size: 24px;
}

.food-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.food-name {
  color: white;
  font-size: 20px;
}

.ratings-wrapper {
  // border: thin solid #555;
  display: inline-block;
  margin: 0 10px;
  padding: 0 10px;
  // background-color: rgb(75, 65, 65);
}

.ratings {
  display: flex;
  flex-direction: row-reverse;
}

.ratings span {
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
  font-size: 45px;
  padding-bottom: 5px;
}

.ratings span:hover {
  color: orange;
  transform: scale(1.1);
}

.ratings span:hover ~ span {
  color: orange;
}

.ratings span[data-clicked] {
  color: orange;
}

.ratings span[data-clicked] ~ span {
  color: orange;
}

.reset-star {
  color: #555 !important;
}
