main {
  display:flex;
  flex-direction: row;
  font-family: sans-serif
}

.pending-requests {
  width: 30%;
  max-width: 600px;
  padding: 2em;
}

.restaurant-dashboard {
  width: 70%;
  max-width: 720px;
  padding: 2em;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
}
form input {
  width: 200px;
}
button {
  width: 150px;
}
